.add-option-error {
  color: var(--off-white);
  font-style: italic;
  margin: var(--m-size) 0 0 0;
  padding: 0 var(--m-size);
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: var(--m-size);
}

.add-option__input {
  flex-grow: 1;
  margin: 0 0 var(--s-size) 0;
  padding: var(--s-size);
  color: white;
  background: var(--dark-blue);
  border: 0;
  border-bottom: 0.3rem solid var(--dark-blue-darken);
  border-radius: 2px;
}

.add-option__input:focus {
  outline: 2px solid var(--purple);
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 var(--s-size) 0 0;
  }
}
